# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build Maven and copy output
      run: bash build_and_out.bash

# cacio-androidnw/target/cacio-androidnw-1.10-SNAPSHOT.jar
    - name: Upload build output
      uses: actions/upload-artifact@v1
      with:
        name: caciocavallo
        path: out
